<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>MOSS </title>
        <meta http-equiv="Content-Language" content="English" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss/" />
</head>
<body>

<div class="content">
        <div id="top">
                                <div id="icons">
                                        <a href="/logout" title="Log Out"><img src="/static/images/logout1.gif" alt="Logout" /></a>
                                </div>
                                <h1>MOSS </h1>
                                <h2>Multilinks OSS</h2>
        </div>
        <!-- end of the Top part -->
</div>
