        [% INCLUDE static/moss_header.tt %]

	<div id="prec">
        <div id="wrap">
                        <div id="pic">
				[% INCLUDE moss_customer_box.tt %]
                        </div>
                        <div id="menu">
				[% INCLUDE static/moss_links.tt %]
                        </div>
        </div>
</div>
	<div class="content">
        <div id="ad">
       		Comment added ...	
        </div>

	[% INCLUDE static/moss_footer.tt %]
