                                <div id="slogan">
                                        <h2><a href="/">HOME</a>&rarr;<a href="/customers/">SERVICE MANAGEMENT</a></h2>
                                        </form>
                                </div>
