               <div id="right_side">
                        <h3>Additional Actions</h3>
                        <ul>
                                                        <li><a href="#" title="Modify Details">Modify Customer Details</a></li>
                                                        <li><a href="#" title="Add New Service">Add New Service</a></li>
                                                        <li><a href="#" title="View History">View Customer History</a></li>

                        </ul>
                </div>
