<div class="splitright">

<h2>More templates</h2>
<ul class="sidelink">
<li><a href="http://andreasviklund.com/templates/1024px/">1024px</a></li>
<li><a href="http://andreasviklund.com/templates/andreas00/">andreas00</a></li>
<li><a href="http://andreasviklund.com/templates/andreas01/">andreas01</a></li>
<li><a href="http://andreasviklund.com/templates/andreas02/">andreas02</a></li>
<li><a href="http://andreasviklund.com/templates/andreas03/">andreas03</a></li>
<li><a href="http://andreasviklund.com/templates/andreas04/">andreas04</a></li>
<li><a href="http://andreasviklund.com/templates/andreas05/">andreas05</a></li>
</ul>

<h2>Recent posts</h2>
<ul>
<li>Jun 26: <a href="#">Template released!</a></li>
<li>Jun 24: <a href="#">Browser compability testing</a></li>
</ul>

</div>

<hr />
</div>
